<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="GTPLBank">

	<listeners>
		<listener
			class-name="com.gtplbankV1.automation.utilities.Reporting" />
	</listeners>

	<test name="BankingApp Test">
		
		<classes>

			<class
				name="com.gtplbankV1.automation.Tests.AddNewCustomerTest" />
		</classes>
		</test> <!-- Test -->

</suite> <!-- Suite -->
